body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #455f3b;
    width: 100%;
    top: 0;
    z-index: 2;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}
.navbar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div > img {
    width: 65px;
    height: auto;
}


.navbar button {
    width: 63px;
    background-color: indianred;
    border: none;
    margin-right: 33px;
    height: 31px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    border-radius: 15px;
    transition: .4s;
}

.navbar button:hover {
    background-color: darkslategrey;
    transition: .4s;
}

.navbar button:focus {
    outline: none;
}
.navbar > div >  h1 {
    color: white;
    margin-left: 33px;
}